<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.pushwoosh.plugins.pushwoosh"
    version="3.0.0">

    <name>Pushwoosh</name>

    <description>
    This plugin allows you to send and receive push notifications.
    </description>

	<asset src="www/PushNotification.js" target="PushNotification.js" />

    <license>MIT</license>

    <!-- android -->
    <platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			
			<!--library-->
			<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
			
			<!-- GCM connects to Google Services. -->
			<uses-permission android:name="android.permission.INTERNET"/>
			
			<!-- GCM requires a Google account. -->
			<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
			
			<!-- Keeps the processor from sleeping when a message is received. -->
			<uses-permission android:name="android.permission.WAKE_LOCK"/>

			<!-- Needed by latest version of Pushwoosh plugn for GCM registration. -->
			<uses-permission android:name="android.permission.BROADCAST_STICKY" />
			
			<!--
			 Creates a custom permission so only this app can receive its messages.
			 
			 NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
			 where PACKAGE is the application's package name.
			 -->
			<permission
			android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
			android:protectionLevel="signature"/>
			<uses-permission
			android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"/>
			
			<!-- This app has permission to register and receive data message. -->
			<uses-permission
			android:name="com.google.android.c2dm.permission.RECEIVE"/>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
			<intent-filter>
				<action android:name="$PACKAGE_NAME.MESSAGE"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.arellomobile.android.push.PushWebview"/>
			
			<activity android:name="com.arellomobile.android.push.MessageActivity"/>
			
			<activity android:name="com.arellomobile.android.push.PushHandlerActivity"/>
			
			<!--
			 BroadcastReceiver that will receive intents from GCM
			 services and handle them to the custom IntentService.
			 
			 The com.google.android.c2dm.permission.SEND permission is necessary
			 so only GCM services can send data messages for the app.
			 -->
			<receiver
				android:name="com.google.android.gcm.GCMBroadcastReceiver"
				android:permission="com.google.android.c2dm.permission.SEND">
				<intent-filter>
					<!-- Receives the actual messages. -->
					<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
					<!-- Receives the registration id. -->
					<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
					<category android:name="$PACKAGE_NAME"/>
				</intent-filter>
			</receiver>
			
			<!--
			 Application-specific subclass of PushGCMIntentService that will
			 handle received messages.
			 -->
			<service android:name="com.arellomobile.android.push.PushGCMIntentService"/>
			
	        <!--
	          Service for sending location updates
	        -->
	        <service android:name="com.arellomobile.android.push.GeoLocationService"/>
        
	        <receiver android:name="com.arellomobile.android.push.AlarmReceiver"></receiver>
			
		</config-file>
		
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushNotification">
			<param name="android-package" value="com.pushwoosh.plugin.pushnotifications.PushNotifications" />
			<param name="onload" value="true"/>
        </feature>
     </config-file>

		<config-file target="res/xml/config.xml" parent="/*">
            <access origin="https://cp.pushwoosh.com" subdomains="true" />
        </config-file>
		
		<source-file src="src/android/lib/Pushwoosh.jar"
		        target-dir="libs/" />
						
		<source-file src="src/android/src/com/pushwoosh/plugin/pushnotifications/PushNotifications.java"
		        target-dir="src/com/pushwoosh/plugin/pushnotifications" />

    </platform>


	
	<!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushNotification">
            	<param name="ios-package" value="PushNotification" />
				<param name="onload" value="true"/>
			</feature>        
        	
			<access origin="*.pushwoosh.com" />
		</config-file>

        <header-file src="src/PushNotification.h" />
        <source-file src="src/PushNotification.m" />
		
        <header-file src="src/HtmlWebViewController.h" />
        <source-file src="src/HtmlWebViewController.m" />

        <header-file src="src/PushNotificationManager.h" />
        <source-file src="src/PushNotificationManager.m" />

        <header-file src="src/PWGetNearestZoneRequest.h" />
        <source-file src="src/PWGetNearestZoneRequest.m" />

        <header-file src="src/PWApplicationEventRequest.h" />
        <source-file src="src/PWApplicationEventRequest.m" />

        <header-file src="src/PWPushStatRequest.h" />
        <source-file src="src/PWPushStatRequest.m" />

        <header-file src="src/PWRegisterDeviceRequest.h" />
        <source-file src="src/PWRegisterDeviceRequest.m" />

        <header-file src="src/PWRequest.h" />
        <source-file src="src/PWRequest.m" />

        <header-file src="src/PWRequestManager.h" />
        <source-file src="src/PWRequestManager.m" />

        <header-file src="src/PWSetTagsRequest.h" />
        <source-file src="src/PWSetTagsRequest.m" />

        <header-file src="src/PWAppOpenRequest.h" />
        <source-file src="src/PWAppOpenRequest.m" />
		
        <header-file src="src/PWSendBadgeRequest.h" />
        <source-file src="src/PWSendBadgeRequest.m" />

        <header-file src="src/PWLocationTracker.h" />
        <source-file src="src/PWLocationTracker.m" />

        <header-file src="src/PW_SBJsonBase.h" />
        <source-file src="src/PW_SBJsonBase.m" />

        <header-file src="src/PW_SBJsonParser.h" />
        <source-file src="src/PW_SBJsonParser.m" />

        <header-file src="src/PW_SBJsonWriter.h" />
        <source-file src="src/PW_SBJsonWriter.m" />

        <header-file src="src/PushRuntime.h" />
        <source-file src="src/PushRuntime.m" />
    </platform>
	
	
</plugin>
